* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}

._countainer {
  display: flex;
  flex-direction: column;
  max-width: 1300px;
  padding: 0px 15px;
  box-sizing: content-box;
  margin: 0 auto;
}

.header {
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  background: none;
}

.header__body {
  display: flex;
  align-items: center;
  padding: 24px 0px;
}

.header__logo {
  flex: 1 1 auto;
}

.header__logo img {
  width: 128px;
}
.header__logo img:nth-child(1) {
  height: 61px;
}
.header__logo img:nth-child(2) {
  height: 47px;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
}

.header__item a {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
}