.header {
	position: relative;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
	background: none;
  }
  
  .header__body {
	display: flex;
	align-items: center;
	padding: 24px 0px;
  }
  
  .header__logo {
	flex: 1 1 auto;
  }
  .header__logo img {
	width: 128px;

	&:nth-child(1) {
		height: 61px;
	}
	&:nth-child(2) {
		height: 47px;
	}
  }
  
  .header__list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 40px;
  }
  
  .header__item {
	a {
		@include text-14px;
	}
  }