html,
body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}

._countainer {
  display: flex;
  flex-direction: column;
  max-width: 1080px;
  padding: 0px 15px;
  box-sizing: content-box;
  margin: 0 auto;
}
